//compress:true;
// Main settings
body{
    font-family: 'Courier New', Courier, monospace;
    background: url("../img/bg.jpg") no-repeat;
    -moz-background-size: 100%; 
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    color: #CEC6C6;
}
section .container{
    background-color: rgba(24, 21, 21, 0.507);
    min-height: 500px;
}



// Header
header{
    background-color: #A7A599;
    font-family: 'Segoe UI', sans-serif;
}
header a{
    font-weight: 400;
    font-size: 40;
}
.nav-logo{
    border-radius: 50%;
}
.nav-link{
    font-size: 20px;
}
// section About US
#aboutus{
    padding-top: 100px;
}
.aboutus__question{
    margin-left: 20px;
}
.aboutus__info{
    margin-left: 20px;
}


// section #media
