//compress:true;
// Main settings
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background: url("../img/bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #CEC6C6;
}
section .container{
    background-color: rgba(24, 21, 21, 0.507);
    min-height: 500px;
}
// Header
header{
    background-color: #A7A599;
    font-family: 'Segoe UI', sans-serif;
}
header a{
    font-weight: 400;
    font-size: 40;
}
.nav-logo{
    border-radius: 50%;
}
.nav-link{
    font-size: 20px;
}
// section About US
#aboutus{
    padding-top: 100px;
}
.aboutus__question{
    margin-left: 20px;
}
.aboutus__info{
    margin-left: 20px;
}


// section #media



// section #cups
.cups_card{
    margin-top: 20px;
}


//section replay
.replay-yt{
    margin-right: 50px;
}

.footer{
    padding-top: 20px;
}
// Footer
.footer_breand{
    font-family: 'Poppins', sans-serif;
    color:white;
}

.footer_breand:hover {
    font-family: 'Poppins', sans-serif;
    color:white;
}